body {
  min-height: 100vh;
  width: 100vw;
  height: fit-content;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-tap-highlight-color: transparent !important;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

span.ml-1.bg-white.px-2.py-1.uppercase.font-sans.font-normal {
  font-size: 40px !important;
}

#imageToDownload div.flex {
  color: white !important;
  font-weight: bold !important;
}

.flex {
  font-size: 25px !important;
}